// Theme
$brand-primary: #ff0000;
$brand-secondary: #252a2d;

// Sizing
$size-a: 130px;
$size-b: 85px;
$page-width: 1420px;

// Breakpoints
$break-small: 480px;
$break-medium: 768px;
$break-large: 990px;
$break-xlarge: 1200px;
